/*Whote content settings*/
*{
    /*Overwrite initial html style settings */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: linear-gradient(#446063, #446063), url(images/banner.png);
}

/*Color palette*/
/*
    Background color: #446063
    text / subbackground: #CCD4DD
    navigation: #424242
    hover: #541E17
    dark green, logo: #02333C
*/

/*--------Header Section--------*/
.header{
    /*vh: Relative to 1% of the height of the viewport */
    min-height: 100vh;
    width: 100%;
    background-position: center;
    /*cover: resize background image to cover the entire container, even it has to sretch the image or cut a little bit off one of the edges */
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    padding: 1% 6%;
    background-color: #CCD4DD;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    /*flex 1: occupy all space in the row */
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    /*list-style none: no bullet */
    list-style: none;
    /*inline elements flow from one line to the next */
    display: inline-block;
    padding: 8px 12px;
    /*relative: positioned normally, offset relative to itself, 
    does not change position of other element */
    position: relative;
}

.nav-links ul li a{
    color: #424242;
    text-decoration: none;
    font-size: 16px;
    font-weight: 100px;
}

.nav-links ul li::after{
    /*
    ::after: inserts sth after content of each selected element
    content: used with after pseudo-elements to insert generated content 
    margin auto: browser select suitable margin to use
    */
    content: '';
    width: 0%;
    height: 2px;
    background: #541E17;
    display: block;
    margin: auto;
    /*change property smoothly */
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

nav .fa{
    display: none;
}

@media(max-width: 1000px){
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #CCD4DD;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        /*Specifies stack order of element*/
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #051016;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }


    .nav-links ul{
        padding: 30px;
    }
}

/*--------introduction--------*/
.introduction{
    display: flex;
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    /*
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    */
    text-align: center;
    color: #CCD4DD;
}

.intro-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.introduction h3{
    font-size: 40px;
}

.introduction h1{
    font-size: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.introduction h5{
    /*padding: 15px 0 25px;*/
    font-size: 24px;
    margin-bottom: 35px;
}

.introduction img{
    width:100%;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #CCD4DD;
    border: 1px solid #CCD4DD;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #CCD4DD;
    background: #CCD4DD;
    transition: 1s;
    color: #051016;
}

@media(max-width: 1000px){
    .introduction{
        display: block;
    }

    .intro-content{
        padding-top: 0;
    }

    .introduction h1{
        font-size: 40px;
    }

    .introduction h3{
        font-size: 25px;
    }

    .introduction h5{
        font-size: 15px;
    }
}

/*--------About Me--------*/
.about-me{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-title {
    color: #CCD4DD;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.section-subtitle {
    color: #CCD4DD;
    text-align: center;
    padding-bottom: 20px;
}

.about-me-content{
    color: #CCD4DD;
    padding-bottom: 20px;
    text-align: justify;
}

.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.about-me-col{
    flex-basis: 31%;
    background: #CCD4DD;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    /*norder box tells browser that width & height of element include border or padding added*/
    box-sizing: border-box;
    transition: 0.5s;
}

.about-me-col:hover{
    /* offset-x | offset-y | blur-radius | spread-radiu | color*/
    box-shadow: 0 0 20px 0px #CCD4DD;
}

.about-me-col h3{
    margin-top: 2%;
}

@media(max-width: 1000px){
    .row{
        flex-direction: column;
    }
}

/*--------Skills--------*/
.skills{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills-box-col {
    flex-basis: 45%;
    background-color: #CCD4DD;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    box-shadow: 0 20px 30px -10px #26394d;
    padding: 2rem 4rem;
    margin-bottom: 5%;
    margin-top: 1%;
    transition: 0.5s;   
    padding: 20px 15px;
    /*norder box tells browser that width & height of element include border or padding added*/
    box-sizing: border-box;
}

.skills-box-col:hover{
    box-shadow: 0 0 20px 0px #CCD4DD;
}

.skills-box-col i{
    padding-top: 1%;
}

.skills-col{
    display: flex;
    flex-basis: 50%;
}

.skills-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.skills-col h5{
    padding-left: 2%;
    padding-right: 3%;
    font-size: 18px;
    font-weight: 500;
}

.skills-col i{
    padding-top: 3%;
}

#star{
    padding-top: 5%;
}

/*
@media(max-width: 1000px){
    .skills-row{
        display: block;
    }
}
*/

/*--------Projects--------*/
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects img{
    width: 70%;
}

/*--------footer--------*/
.footer{
    background-color: #051016;
    color:#CCD4DD;
}

.attribution{
    font-size: 8px;
    color:#CCD4DD;
    display: block;
}
